In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
control = pd.read_excel('microbial enumeration.xlsx')
control

   Sample Code  TVC_r  TVC_l  TCC_r  TCC_l  TFC_r  TFC_l
0           B1     15     17      0      0      3      2
1           B2     11      8      0      0      2      2
2           B3      0      0      0      0      0      0
3           B4      4      5      0      0      0      0
4           B5      7      5      0      0      0      0
5           B6      0      0      0      0      2      1
6           B7      5      7      0      0      0      0
7           B9     12     10      0      0      1      0
8          B11      0      0      0      0      0      0
9          B12      5      5      0      0      0      0
10         B13      7      4      0      0      2      2
11         B14      0      0      0      0      0      0
12         B15      2      3      0      0      0      0
13         B16     13     10      0      0      0      0
14         B17     11      8      0      0      3      3
15         B18      7      9      0      0      0      0
16         B19      0      0      0      0      0      0
17         B20      6      5      0      0      0      0

In [7]:
control['Sample Code'].str.replace?

In [ ]:
control['Sample Code'].str.replace

In [6]:
control['Sample Code'].str.replace('B', 'S', inplace=True)
control

TypeError: replace() got an unexpected keyword argument 'inplace'

In [4]:
pd.read_excel('../microbial enumeration.xlsx', sheet_name=2)

   Sample Code  TVC_r  TVC_l  TCC_r  TCC_l  TFC_r  TFC_l
0           S1     27     32      0      0      5      3
1           S2     21     25      0      0      2      2
2           S3     13     11      0      0      4      3
3           S4      5      7      0      0      1      2
4           S5     15     17      0      0      2      3
5           S6      8     10      0      0      5      3
6           S8     23     18      0      0      5      5
7           S9     12     10      0      0      2      1
8          S10      8     11      0      0      4      3
9          S11     15     17      0      0      2      3
10         S13      5      7      0      0      4      3
11         S14      8     10      0      0      2      3
12         S15      3      3      0      0      4      3
13         S16     10      7      0      0      2      2
14         S17     11     13      0      0      5      4
15         S18      7      5      0      0      4      3
16         S19     11      8      0      0      2      2
17         S22     13     10      0      0      3      2
18         S23      9     13      0      0      1      2